body {
    margin: 0;
    font-family: 'Times New Roman', serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

 
button:hover {
    background-color: #c7c7c7; /* Green */
    color: white;
  }

.d-flex{
  font-family: 'Times New Roman', serif;
  font-size: 23px;
  color: #808080;
}