
.btn5 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: rgb(0, 0, 0);
    background-color: bisque;
    border-color: bisque;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
}


.btnRemove{
    background-color: #8a4e53; /* Green */ 
    border-radius: 10%;
    border: #8a4e53;
}


input {
    width: 15%;
}


button:hover {
    background-color: #c7c7c7; /* Green */
    color: white;
}
