
.btn5 {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: rgb(255, 255, 255);
    background-color: rgb(122, 216, 172);
    border: none;
    width: 30px;
    height: 30px;
    font: 30px/1 Times New Roman,sans-serif;
    text-align: center;
    border-radius: 10%;
}


.btnRemove{
    font-family: 'Times New Roman', serif;
    font-size: 25px;
    color: white;
    background-color: #ff0000; /* Green */ 
    border-radius: 10%;
    border: none;
}


input {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', serif;

    border: none;
    width: 15%;
}


button:hover {
    background-color: #c7c7c7; /* Green */
    color: white;
    border: none;

}


.card{
    font-family: 'Times New Roman', serif;

}
