
img {
    width:200px;
    height:200px;
    
    background-attachment: fixed;
    background-color: white;
}
h5   {
    color: rgb(0, 175, 70);
}
p    {
    color: red;
}

button {
    background-color: #c92b2b; /* Green */
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
  }
button:hover {
    background-color: #d4fad6; /* Green */
    color: white;
  }

.btn5 {
    background-color: #3cdd9f; /* Green */
    border-radius: 50%;
}


.btnRemove{
    background-color: #ff172b; /* Green */ 
    border-radius: 20%;
}


input {
    width: 40%;
  }