
<div class="subtitle">
    <header id="myheader" >
      Shopping Bag
    </header>
    
</div>

  <div class="row" >
    <div class="col-75">

      <div >
        <br>
        </div>
        <div >
          <div class="container">
              <app-cart-item  [itemdata]="item"
              *ngFor="let item of items"  ></app-cart-item>
          </div>
        </div>
        <div >
        <br>
        </div>
    </div>
   
  </div>

  <button class="btn btn-dark mb-2">checkout
  </button>

  